.button{
    background-color: lightblue;
    padding: 15px 30px;
}

.choice{
    border-top-style: solid;
    border-top-color: black;

    border-bottom-style: solid;
    border-bottom-color: black;

    margin-top: 20px;
    margin-bottom: 20px;
}

.content{
    display: flex 1;
    background-color: #f4f4f4;
    border-style: solid;
    border-color: black;
    justify-content: center;
    text-align: center;
}

.result-text{
    font-weight: 500;
}